name: CI

on:
  schedule:
    - cron:  '0 12 * * 3'
  workflow_dispatch:

env:
  GITLAB_USER_NAME: ${{ github.repository_owner }}
  CI_SERVER_HOST: gitlab.com
  CI_PROJECT_NAME: ${{ github.event.repository.name }}
  CI_PROJECT_PATH: ${{ github.repository }}
  CI_PROJECT_URL: "https://gitlab.com/${{ github.repository }}"
  CI_DEFAULT_BRANCH: main

jobs:
  update:
    name: Update dictionaries

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Free disk space
      run: |
        df -kh .
        sudo apt-get -yqq clean
        sudo rm -rf /usr/local/lib/android
        df -kh .
    - name: Before script
      run: |
        wget -qO - https://raw.github.com/tdulcet/Linux-System-Information/master/info.sh | bash -s
        git clone --filter=blob:none "https://$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - name: Script
      run: |
        export LC_ALL=en_US.UTF-8
        cd "$CI_PROJECT_NAME"
        df -kh .
        bash update.sh
        df -kh .
        git config --global user.email "${{ secrets.GITLAB_USER_EMAIL }}"
        git config --global user.name "$GITLAB_USER_NAME"
        git config --global http.postBuffer $((2 << 30))
        bash commit.sh
        git remote set-url origin "https://$GITLAB_USER_NAME:${{ secrets.ACCESS_TOKEN }}@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
        free -wh
        git gc --prune=30.minutes.ago
        git lfs prune -d
        free -wh
        git push origin "HEAD:$CI_DEFAULT_BRANCH" -f
        cp README.md CHANGELOG.md ..
    - name: After script
      run: |
        if git diff --quiet; then
            exit 0
        fi
        git commit -am "Updated dictionaries $(date -u +%F)."
        git push
    - name: Prune
      if: always()
      run: |
        curl -sSf -X POST -H "PRIVATE-TOKEN: ${{ secrets.ACCESS_TOKEN }}" "https://$CI_SERVER_HOST/api/v4/projects/$GITLAB_USER_NAME%2F$CI_PROJECT_NAME/housekeeping?task=prune"
